#data[type=text] {
    width: 20%;
    transition: width 0.4s ease-in-out;
    -webkit-transition: width 0.4s ease-in-out;
}
#data[type=text]:focus {
    width: 38%;
    transition: width 0.4s ease-in-out;
    -webkit-transition: width 0.4s ease-in-out;
}
.mb-6 {
    position: relative;
    left: 10%;
}

#streams {
    position: relative;
    left: 10%;
}

#switch {
    position: relative;
    top: 0%;
    left: 10%;
}
#task {
    position: fixed;
    top: 35%;
    left: 70%;
}
body {
    overflow-x: hidden;
}